@model IEnumerable<Modelo.Cadastros.Calendario>
@{
    Layout = "_LayoutIES";
}
@section styles {
    @*    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />*@
    <link rel="stylesheet" href="~/lib/datatables/media/css/jquery.dataTables.min.css" />
}
@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<div class="card-block">
    <div class="card-header text-white bg-primary text-center h1">ChamadaQR Code</div>
</div>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <br />
    <form method="post" asp-controller="qrcode" asp-action="generate">
        <input type="text" placeholder="Product Id" name="productId" value="@ViewBag.productId" />
        <input type="submit" value="Generate" />
    </form>


    @if (@ViewBag.productId != null)
    {
        <qrcode content="@ViewBag.productId" width="200 " height="200"></qrcode>
        
    }
 
</body>
</html>



